<div class="card w-50 m-auto mt-5">
  <h2 class="card-header">Generate Your Password here</h2>
  <div class="card-body m-auto ">
    <div class="mb-3 m-auto ">
      <label for="Password" class="text-black m-2 ">Your Passwor Length is ....?</label>
      <input type="text" id="Password" (input)="displayLength($event)"/>
    </div>
    <div class="mb-3">
      <input type="checkbox" id="letter" (change)="onChangeLetter()"/>
      <label for="letter" class="text-black m-2">Use Letter</label>
    </div>
    <div class="mb-3">
      <input type="checkbox" id="digits" (change)="onChangeDigits()"/>
      <label for="digits" class="text-black m-2">Use Number</label>
    </div>
    <div class="mb-3">
      <input type="checkbox" id="Symbols" (change)="onChangeSymbole()"/>
      <label for="Symbols" class="text-black m-2">Use Symbols</label>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary" [disabled]="!(length && (digits || symbole || letter)) " (click)="onGeneratePassword()">Generate!</button>
    </div>
    <div class="mb-3" *ngIf="password">
      <label for="your-Password" class="text-black m-2">Your Password</label>
      <input type="text" id="your-Password" [value]="getPass()" />
    </div>
  </div>
</div>
